authentication_plugin=package.of.Authenticator
arrebol.ldap.auth.url=ldap://localhost:8080
arrebol.ldap.base=dc=localhost

default_specs_file_path=defaulResource.json
remove_previous_resources=true

execution_monitor_period=60000
rest_server_port=44444
resourcer_username=

public_key=publickey
private_key_filepath=/path/to/privatekey
local_output=/tmp/arrebol
remote_output_folder=/tmp